<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD User</title>
    <link rel="stylesheet" href="/plugin/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- start navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-custom">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">LOGO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <form class="d-flex" method="POST" action="/user-search">
                <input class="form-control me-2 search-siswa" type="text" placeholder="Masukkan Nama User" aria-label="Search" name="key">
                <button id="btn-search" class="btn btn-outline-light" type="submit">Cari</button>
            </form>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <!-- Start Container -->
    <div class="container-fluid">
        <div class="row wrapper-contain">
            <div class="col-md-12 menu-add">
                <button type="submit" class="btn btn-outline-custom" onclick="window.location.href='/user-tambah'">Tambah User</button>
            </div>
            <div class="col-md-12 table-list">
                <table class="table table-hover">
                    <thead>
                        <tr class="text-center">
                          <th scope="col">#</th>
                          <th scope="col">Nama</th>
                          <th scope="col">Email</th>
                          <th scope="col">Alamat</th>
                          <th scope="col">Divisi</th>
                          <th scope="col">Tempat</th>
                          <th scope="col">Tanggal</th>
                          <th scope="col">Cita-cita</th>
                          <th scope="col">Harapan</th>
                          <th scope="col">Aksi</th>
                        </tr>
                      </thead>
                      <tbody id="list-data" class="list-table">
                        <!-- List Data Here -->
                        <% if(message == 'search'){ %>
                            <% for(let i=0 ; i < result.length ; i++){ %>
                                <tr>
                                    <th scope="row"><%= i+1 %></th>
                                    <td><%= result[i].nama %></td>
                                    <td><%= result[i].email %></td>
                                    <td><%= result[i].alamat %></td>
                                    <td><%= result[i].divisi %></td>
                                    <td><%= result[i].tempat %></td>
                                    <td><%= result[i].tgl %></td>
                                    <td><%= result[i].cita %></td>
                                    <td><%= result[i].harapan %></td>
                                    <td><a href="/user-detail/<%= result[i]._id %>">Ubah</a> | <a href="/user-del/<%= result[i]._id %>}">Hapus</a></td>
                                </tr>
                            <% } %>
                         <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    <!-- End Container -->
    <script type="text/javascript">
    let message = '<%= message %>'
        if(message != "search"){
            fetch('/user-getAll')
                .then(response => { return response.json() })
                .then(result =>{                    
                    let data = result
                    console.log(data.result)
                    const tabEl = document.querySelector('#list-data') 
                    for(let i=0 ; i<data.result.length ; i++){
                        tabEl.innerHTML += `
                                        <tr>
                                            <th scope="row">${i+1}</th>
                                            <td>${data.result[i].nama}</td>
                                            <td>${data.result[i].email}</td>
                                            <td>${data.result[i].alamat}</td>
                                            <td>${data.result[i].divisi}</td>
                                            <td>${data.result[i].tempat}</td>
                                            <td>${data.result[i].tgl}</td>
                                            <td>${data.result[i].cita}</td>
                                            <td>${data.result[i].harapan}</td>
                                            <td><a href="/user-detail/${data.result[i]._id}">Ubah</a> | <a href="/user-del/${data.result[i]._id}">Hapus</a></td>
                                        </tr>
                        `
                    }                
                })
                .catch(err => { console.log(`Error : ${err}`) })
            }
    </script>
</body>
</html>